sudo apt-get -y update

# nmap
  sudo apt-get -y install nmap
# curl
  sudo apt-get -y install curl
# nikto
  sudo apt-get -y install nikto
# dirb
  sudo apt-get -y install dirb
# gobuster
  sudo apt-get -y install gobuster
# whatweb
  sudo apt-get -y install whatweb
# sslscan
  sudo apt-get -y install sslscan
# sqlmap
  sudo apt-get -y install sqlmap
# wafw00f
  sudo apt-get -y install wafw00f
# wpscan
  sudo apt-get -y install ruby
  sudo apt-get -y ruby-dev
  sudo apt-get -y make
  sudo apt-get -y gcc
  sudo apt-get -y zlib1g-dev
  sudo gem install wpscan
