sudo apt-get -y update

# pycryptodome
  sudo apt-get -y install python3-pycryptodome
# hashcat
  sudo apt-get -y install hashcat
# john
  sudo apt-get -y install john
# openssl
  sudo apt-get -y install openssl
